<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>timestretch</title>

  <link rel="stylesheet" href="static/style.css" th:href="@{style.css}"/>
</head>
<body>
<h1>Timestretch</h1>
<main>

  <h2>Tasks</h2>
  <table>
    <tr>
      <th>
        <a href="taskInfo.html" th:href="@{/taskinfo}">
        <h3>Task 1</h3>
        <p>Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr.</p>
        </a>
      </th>
      <th>
        <h3>Task 2</h3>
        <p>Lorem ipsum dolor sit amet, <br>consetetur sadipscing elitr.</p>
      </th>
      <th>
        <h3>Task 2</h3>
        <p>Lorem ipsum dolor sit amet, <br>consetetur sadipscing elitr.</p>
      </th>
    </tr>
    <tr>
      <th>
        <h3>Task 4</h3>
        <p>Lorem ipsum dolor sit amet,<br> consetetur sadipscing elitr.</p>
      </th>
      <th>
        <h3>Task 5</h3>
        <p>Lorem ipsum dolor sit amet, <br>consetetur sadipscing elitr.</p>
      </th>
      <th>
        <h3>Task 6</h3>
        <p>Lorem ipsum dolor sit amet, <br>consetetur sadipscing elitr.</p>
      </th>
    </tr>
    <tr>
      <a href="newTask.html">
        <h3>New Task</h3>
      </a>
    </tr>
  </table>
</main>





</body>
</html>