<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Info</title>
</head>
<body>
<main>
    <h1><a href="tasks.html" th:href="@{/}">Timestretch</a></h1>
    <article>
        <h2 th:text="${task.Titel}">Task1</h2>
            <p th:text="${task.Beschreibung}">
                Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr.
            </p>
        <section>
            <h3>Zeitprotokoll</h3>
            <h3>Gesamt: 7h</h3>
            <table>
                <tr>
                    <td>
                        <time>24.10.2022</time>
                    </td>
                    <td>
                        <p><time th:text="${time.Timestamp_start}">12:15</time> - <time th:text="${time.Timestamp_end}">13:15</time></p>
                    </td>
                    <td>
                        <p>1h</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>25.10.2022</p>
                    </td>
                    <td>
                        <p><time>12:15</time> - <time>18:15</time></p>
                    </td>
                    <td>
                        <p>6h</p>
                    </td>
                </tr>
            </table>
        </section>
    </article>
</main>

</body>
</html>