<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Info</title>
    <link rel="stylesheet" href="static/style.css" th:href="@{/style.css}"/>
</head>
<body>
<main>
    <div class="header">
        <a href="tasks.html" th:href="@{/}">
        <button id="backToTasksButton" type="button">
            <img src="static/arrow-bar-left.svg" th:src="@{/arrow-bar-left.svg}">
        </button>
        </a>
        <h1>Timestretch</h1>
    </div>

    <!--h1><a href="tasks.html" th:href="@{/}">Timestretch</a></h1-->
    <article>

        <h2 th:text="${task.Titel}">Task1</h2>
            <p th:text="${task.Beschreibung}">
                Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr.
            </p>
        <section>
            <h3>Gesamt: 7h</h3>

            <table id="timetrackingTable">
                <tr>
                    <th>Date</th>
                    <th>from to</th>
                    <th>sum</th>
                </tr>
                <tr th:each="ti : ${time}">
                    <td>
                        <time th:text="${ti.Timestamp_start.getDate()} + '.' + ${ti.Timestamp_start.getMonth()} + '.' + (${ti.Timestamp_start.getYear()}+1900)">24.10.2022</time>
                    </td>
                    <td>
                        <p><time th:text="|${ti.Timestamp_start.getHours()}:${ti.Timestamp_start.getMinutes}:${ti.Timestamp_start.getSeconds()}|">12:15</time> - <time th:text="|${ti.Timestamp_end.getHours()}:${ti.Timestamp_end.getMinutes}:${ti.Timestamp_end.getSeconds()}|">13:15</time></p>
                    </td>
                    <td>
                        <p th:test="(${ti.Timestamp_end.getTime()}-${ti.Timestamp_start.getTime()})">1h</p>
                    </td>
                </tr>
            </table>
        </section>
    </article>
</main>

</body>
</html>